
<h1>Welcome to Yelp demo</h1>
<h2>This is one of the samples I'm building in the awesome language Ruby on Rails :) See more on <%= link_to "sandervrielink.nl", "http://www.sandervrielink.nl" %></h2>
